@import 'tailwindcss';
@theme {
	--site-background: hsl(0, 0%, 10%);
	--color-search-background: hsl(0, 0%, 14%);
	--color-checked-checkbox: hsl(233, 67%, 47%);
	--color-button-border: hsl(0, 0%, 25%);
	--color-start-gradient: #141731;
	--color-end-gradient: #2b2c37;
	--color-main-section: #151515;
	--color-profile-icon-background: #283ac9;
}
@layer {
	body {
		font-family: 'Inter';
		background-color: var(--site-background);
	}
}
body {
	display: hsl(0, 0%, 25%);
}
